<!-- your_app/templates/products/computers.html -->
<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- ... (your existing head content) -->
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/dropdown.css">
    <!-- bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        {% include 'navigation.html' %}
    </div>
    <div class="banner" style="border: 4px solid #CAE4CB;">
        <p style="font-size:40px; padding-top:10px; color: #364958;font-family: Jockey One; padding-left:20%;">
            <i class="fa fa-laptop" style="font-size:30px;"></i>
            Computers      
        </p>
    </div>
    <!--<div class="banner">
        <p style="font-size:40px; padding-top:10px; color: #364958;font-family: Jockey One; padding-left:20px;">
            <i class="fa fa-boxes-stacked" style="font-size:30px;"></i>Mouses
            <i class="fa fa-laptop" style="font-size:30px;"></i>
        </p>
    </div> -->

    <!-- Add a container for your product images and details -->
    <div style="display: flex; flex-direction: row; width:100%; margin-top:30px;">
        {% for product in products %}
        <div id="containerimg" style="margin-left:20px;">
            <a href="{{ url_for('products.view_product', product_id=product.ID) }}">
                <img src="{{ url_for('static', filename='images/' + product.Image) }}"
                    style="width: 320px; height: 300px; padding-top:30px; border-radius: 10px;border: 4px solid #CAE4CB;">
                <p>{{ product.Name }}</p>
                <p>Price:</p>
                <p
                    style="color: #87BBA2;font-family: Jockey One;font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;">
                    {{ product.Price }}€</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {

                var dropdownContent = document.getElementsByClassName("dropdown-container");
                if (dropdownContent[0].style.display === "block") {
                    dropdownContent[0].style.display = "none";
                } else {
                    dropdownContent[0].style.display = "block";
                }
            });
        }

        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });

    </script>

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- ... (your existing bootstrap script content) -->
</body>

</html>
