<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Warning!</title>

    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/dropdown.css">
    <link rel="stylesheet" href="../static/styles/Aviso_Login.css">
    <!-- bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body>

    <img class="typcn-warning" src="../static/images/typcn-warning.svg" />
    <p class="if-you-want-to">
        <span class="span">If you want to continue with the purchase, please consider </span>
        <span class="text-wrapper-9">Logging</span>
        <span class="span"> into your account.<br />If you don't have an account you can also </span>
        <span class="text-wrapper-9">create</span>
        <span class="span"> one.<br /></span>
        <span class="text-wrapper-9">Thank you!</span>
    </p>

    <div class="container">
        {% include 'navigation.html' %}




        {% include 'idk.html' %}
    </div>
</body>

</html>