.overlap-2 {
    position: absolute;
    width: 100px;
    height: 60px;
    top: 30px;
    left: 300px;
}

.pepicons-pencil-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 17px;
    left: 10px;
}

.text-wrapper-10 {
    position: absolute;
    width: 212px;
    top: 20px;
    left: 50px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.rectangle-3 {
    position: absolute;
    width: 200px;
    height: 70px;
    top: 0;
    left: 0;
    border: 5px solid;
    border-color: #87bba2;
}

.welcome-to-IT-on-wrapper {
    position: absolute;
    width: 620px;
    height: 310px;
    top: 120px;
    left: 300px;
    border: 5px solid;
    border-color: #cae4cb;
}

.welcome-to-IT-on {
    position: absolute;
    width: 600px;
    height: 250px;
    top: 10px;
    left: 10px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #1e1e1e;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.overlap {
    position: absolute; 
    top: 150px;
    left: 980px;
}

.img {
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.text-wrapper-9 {
    position: absolute;
    width: 223px;
    top: 180px;
    left: 10px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.overlap-3 {
    position: absolute;
    width: 400px;
    height: 266px;
    top: 430px;
    left: 300px;
}

.text-wrapper-11 {
    position: absolute;
    width: 200px;
    top: 0;
    left: 5px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #87bba2;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.rectangle-4 {
    position: absolute;
    width: 140px;
    height: 170px;
    top: 465px;
    left: 300px;
    object-fit: cover;
}

.rectangle-5 {
    position: absolute;
    width: 140px;
    height: 170px;
    top: 465px;
    left: 450px;
    object-fit: cover;
}

.rectangle-6 {
    position: absolute;
    width: 140px;
    height: 170px;
    top: 465px;
    left: 600px;
    object-fit: cover;
}

.rectangle-7 {
    position: absolute;
    width: 140px;
    height: 170px;
    top: 465px;
    left: 750px;
    object-fit: cover;
}

.rectangle-8 {
    position: absolute;
    width: 140px;
    height: 170px;
    top: 465px;
    left: 900px;
    object-fit: cover;
}

.rectangle-9 {
    position: absolute;
    width: 140px;
    height: 170px;
    top: 465px;
    left: 1050px;
    object-fit: cover;
}

.gabriel {
    position: absolute;
    width: 154px;
    top: 640px;
    left: 290px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.sousa {
    position: absolute;
    width: 154px;
    top: 640px;
    left: 740px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.rafael {
    position: absolute;
    width: 154px;
    top: 640px;
    left: 895px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.pires {
    position: absolute;
    width: 154px;
    top: 640px;
    left: 440px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.neto {
    position: absolute;
    width: 154px;
    top: 640px;
    left: 590px;
    font-family: "Jockey One", Helvetica;
    font-weight: bold;
    color: #364958;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}