<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/dropdown.css">
    <link rel="stylesheet" href="../static/styles/About_us.css">
    <!-- bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="overlap-2">
        <img class="pepicons-pencil-2" src="../static/images/pepicons-pencil-people.svg" />
        <div class="text-wrapper-10">About us</div>
        <div class="rectangle-3"></div>
    </div>

    <div class="welcome-to-IT-on-wrapper">
        <p class="welcome-to-IT-on">
            Welcome to IT on Demand, your one-stop destination for simplifying the acquisition of IT services and
            technology-related products. At IT on Demand, we understand the challenges businesses and individuals face
            when searching for reliable IT service providers and high-quality technology products. Our mission is to
            empower users by providing a comprehensive platform where they can make informed decisions about their IT
            needs.<br />In our plataform, users can evaluate prices and read reviews, ensuring they have all the
            information needed to make the right choice for their specific requirements.<br />Our success is driven by a
            strategic focus on marketing, partnerships, and service expansion. We believe in creating value for our
            users and building strong relationships with service providers and product vendors. By staying ahead of
            industry trends and actively seeking collaborations, we ensure that our platform remains a dynamic and
            reliable resource.<br />Whether you're a business seeking top-notch IT services or an individual in need
            of the latest technology products, IT on Demand is here to simplify your journey. Join us as we
            revolutionize the way IT services and products are discovered, compared, and acquired. Your satisfaction is
            our success!<br />IT on Demand - Where Technology Meets Simplicity.
        </p>
    </div>

    <div class="overlap">
        <img class="img" src="../static/images/LOGO_PROJETO_TEN.png" />
        <div class="text-wrapper-9">IT on Demand</div>
    </div>

    <div class="overlap-3">
        <div class="text-wrapper-11">Our Team</div>
    </div>

    <img class="rectangle-4" src="../static/images/rectangle-16.png" />
    <img class="rectangle-5" src="../static/images/rectangle-16.png" />
    <img class="rectangle-6" src="../static/images/rectangle-16.png" />
    <img class="rectangle-7" src="../static/images/rectangle-16.png" />
    <img class="rectangle-8" src="../static/images/rectangle-16.png" />

    <div class="gabriel">Gabriel<br />Fernando</div>
    <div class="sousa">João<br />Sousa</div>
    <div class="neto">Gonçalo<br />Neto</div>
    <div class="pires">Gonçalo<br />Pires</div>
    <div class="rafael">Rafael<br />Duarte</div>

    <div class="container">
        {% include 'navigation.html' %}




        
    </div>





    {% include 'idk.html' %}
</body>

</html>