<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dropdown.css">
    <!-- bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="main-menu" style="height: 695px; width:250px;">
            <ul>
                <img src="imgs/LOGO_PROJETO_TEN.png" style="padding-left: 10px; width: 200px; height: 100px;" alt="Logo">
                <span class="nav-text" style="color: #364958; font-family: Inter; font-size: 20px;font-style: normal;font-weight: 700;line-height: normal; width:100%;text-align:center; display: inline-block;">
                    IT on Demand
                </span>
                <div id="linha">
                </div>
                <li style="padding-top: 50px;">
                    <a href="inicio.html">
                        <i class="fa fa-home" ></i>
                        <span class="nav-text">
                            Home Page
                        </span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-btn">
                        <i class="fa fa-boxes-stacked" ></i>
                        <span class="nav-text">
                            Products
                            <i class="fa fa-caret-down" style="position:absolute;top:10%;right:50px"></i>
                        </span>
                    </a>
                </li>
               <div class="dropdown-container">
                 <ul class="nav nav-sidebar">
                  <li>
                    <i class="fa fa-laptop"><a href="computadores.html" class="links-dropdown" style="padding-left:10px;">Computers</a></i><p>
                    <i class="fa fa-keyboard-o" style="padding-left:1px;"><a href="teclados.html" class="links-dropdown" style="padding-left:12px;">Keybords</a></i><p>
                    <i class="fa fa-mouse" style="padding-left:3px;"><a href="ratos.html" class="links-dropdown" style="padding-left:16px;">Mouses</a></i><p>
                    <i class="fa fa-desktop"><a href="monitores.html" class="links-dropdown" style="padding-left:12px;">Screen's</a></i>
                  </li>
                </u>
                </div>
                <li>
                    <a href="carrinho_compras.php">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="nav-text">
                            Shopping Cart
                        </span>
                    </a>
                </li>
                <li>
                    <a href="perfil.html">
                        <i class="fa fa-user"></i>
                        <span class="nav-text ">
                            Profile
                        </span>
                    </a>
                </li>
                <li>
                    <a href="utilizador_eventos.php">
                        <i class="fa fa-users"></i>
                        <span class="nav-text">
                            About Us
                        </span>
                    </a>
                </li>
            </ul>
                <li style="position: absolute; left: 0; bottom: 0;">
                  <div style="background-color: #CAE4CB; width:90%; height:100px; border-radius: 8px; padding-left:10px;">
                    <h4 style="padding-top:10px;">Contact Us By:</h4>
                      <p>
                        <strong>Email:</strong>
                        <a href="#" style="font-size: 15px; font-weight:500;">itondemand@gmail.com</a>
                      </p>
                      <p>
                        <strong>Phone:</strong>
                        +222 222 222
                      </p>
                  </div>
                  <i style="color: #1E1E1E;font-family: Inter;font-size: 15px;font-style: normal;font-weight: 500;line-height: normal;padding-left:150px;">@TEN2023</i>
                </li>
        </nav>
</div>


  <div class="banner" style="width:380px">
    <p style="font-size:40px; padding-top:10px; color: #364958;font-family: Jockey One; padding-left:20px; font-weight:bold;"><i class="fa fa-cart-shopping" style="font-size:30px;" ></i>Shopping Cart</p>
  </div>

<div style="display:flex">

 <table style="margin-left: 19%;width: 50%;margin-top:5%;">
  <thead>
    <tr>
      <th style="text-align:center;">Nº</th>
      <th style="text-align:center;">Product</th>
      <th style="text-align:center;">Amount</th>
      <th style="text-align:center;">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Newskill EOS</td>
      <td>1</td>
      <td>33,49 €</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lenovo IdeaPad</td>
      <td>1</td>
      <td>608,60 €</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" style="border:none;padding-left:500px">Total:</td>
      <td>642,09 €</td>
    </tr>
  </tfoot>
</table>

<div class="container_cart">
      <p>You can also <span style="color: #364958;">BUY</span> this!</p>
      <p>You will get an <span style="color: #364958;">EXTRA DISCOUNT</span>!</p>
  </div>
</div>

<div style="display:flex">

  <div class="container_historico" style="margin-left:20%; margin-top:10px; width:300px; height:170px;">
      <p style="font-size:25px;">Do you have an old eletronic?<p style="font-size: 23px;">If so, give it to us and you will recieve an EXTRA VOUCHER! </p>
  </div>

  <div class="container_eletronic">
      <p>For that, send us and email and we will explain all the details!</p>
  </div>

  <div style="margin-top:140px; margin-left:4%; font-size:16px;">
    <input id="checkbox" type="checkbox" />
    <label for="checkbox"> I agree to these <a href="#">Terms and Conditions</a></label>
  </div>

  <button style="margin-left: 50px; margin-top: 8%; border-radius: 10px; border:0px; background: #57828B;width: 103px;height: 56px; font-size: 30px; color: #CAE4CB;" onclick="location.href='inicio.html'">Buy</button>

</div>

    <div class="container">
        <form action="php/login.php" method="POST">
        </form>
    </div>
    <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {

        var dropdownContent =  document.getElementsByClassName("dropdown-container");
        if (dropdownContent[0].style.display === "block") {
          dropdownContent[0].style.display = "none";
        } else {
          dropdownContent[0].style.display = "block";
        }
      });
    }

    $(".nav a").on("click", function() {
      $(".nav").find(".active").removeClass("active");
      $(this).parent().addClass("active");
    });

    </script>

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
