<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/dropdown.css">
    <link rel="stylesheet" href="../static/styles/HomePage.css">
    <!-- bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // Defines global variables to hold the Flask URL routes in the javascript buttons might not be the best way to do it but it works!
        var computersUrl = "{{ url_for('products.list_computers') }}";
        var keyboardsUrl = "{{ url_for('products.list_keyboard') }}";
        var mousesUrl = "{{ url_for('products.list_mouse') }}";
        var displaysUrl = "{{ url_for('products.list_display') }}";
    </script>
</head>


<body>
    <div class="Titulo">IT on Demand</div>
    <div class="linha"> ____________</div>
    <div class="overlap-2">
        <p class="p">
            <span class="texto">IT on Demand it's here to help you find the best IT products you need!<br />It's Where
                Technology Meets Simplicity!</span>
        </p>
        <div class="rectangle-3"></div>
    </div>
    <p class="text-wrapper-12">Click one of these products to find which one is best for you!</p>

    <button onclick="window.location.href = computersUrl;">
        <div class="clarity-computer-wrapper"><img class="img" src="../static/images/clarity-computer-solid.svg" />
        </div>
    </button>
    <button onclick="window.location.href = keyboardsUrl;">
        <div class="material-symbols-wrapper">
            <img class="img" src="../static/images/material-symbols-light-keyboard-outline.svg" />
        </div>
    </button>

    <button onclick="window.location.href = mousesUrl;">
        <div class="fluent-emoji-high-wrapper">
            <img class="img-2" src="../static/images/fluent-emoji-high-contrast-computer-mouse.svg" />
        </div>
    </button>

    <button onclick="window.location.href = displaysUrl;">
        <div class="mi-computer-wrapper"><img class="img-2" src="../static/images/mi-computer.svg" /></div>
    </button>

    <div class="text-wrapper-13">Computers</div>
    <div class="text-wrapper-14">Keyboards</div>
    <div class="text-wrapper-15">Mouses</div>
    <div class="text-wrapper-16">Screens</div>

    <div class="overlap-3">
        <p class="pp">
            If you buy one of our products, you will receive a Voucher for your next purchase!<br />We can also handle
            your old eletronics. Give it to us and you will get an extra Voucher!<br />Don’t forget to leave a review of
            the Product, we believe in your Opinion!
        </p>
        <div class="rectangle-4"></div>
    </div>

    <div class="overlap-4">
        <img class="mdi-voucher-outline" src="../static/images/mdi-voucher-outline.svg" />
        <img class="mdi-person-star" src="../static/images/mdi-person-star.svg" />
    </div>

    <div class="container">
        {% include 'navigation.html' %}




        {% include 'idk.html' %}
    </div>
</body>

</html>